<div class="main">
  <h2>Cadastre seu Imóvel</h2>
  <!--<form [formGroup]="dadosForm" (ngSubmit)="onLogin(dadosForm)">
    <div class="form-group">
      <label for="nome">nome</label>
      <input type="text" id="nome"  formControlName="nome" placeholder="nome"/>
    </div>

    <div class="form-group">
      <label for="nome">idade</label>
      <input type="text" id="idade" formControlName="idade" placeholder="idade"/>
    </div>

    <input type="submit" class="btn btn-primary" value="Enviar"/>
  </form>-->

  <form [formGroup]="dadosForm" (ngSubmit)="cadimovel(dadosForm)" #formDir="ngForm" class="row g-3" style="border: 2px solid #eee; padding: 20px; border-radius: 10px;" >
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Titulo:</label>
      <input type="text" class="form-control" formControlName="titulo" required placeholder="Titulo">
      <div *ngIf="titulo.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="titulo.errors?.['required']">O Título é Obrigatório</p>
      </div>
    </div>
    <div class="col-md-2">
      <label for="inputPassword4" class="form-label">Município:</label>
      <input type="text" class="form-control" formControlName="municipio" placeholder="Município">
    </div>
    <div class="col-md-2">
      <label for="inputPassword4" class="form-label">Bairro:</label>
      <input type="text" class="form-control" formControlName="bairro" placeholder="Bairro">
    </div>

    <div class="col-md-4">
      <label for="inputPassword4" class="form-label">Logadouro:</label>
      <input type="text" class="form-control" formControlName="logadouro" placeholder="Rua A QD 145">
    </div>

    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Valor de Compra:</label>
      <input type="text" class="form-control" formControlName="vlrcompra" placeholder="Valor da Compra">
    </div>

    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Valor de Venda:</label>
      <input type="text" class="form-control" formControlName="vlrvenda" placeholder="Valor da Venda">
    </div>

    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">% de Lucro:</label>
      <input type="text" class="form-control" formControlName="ganho" placeholder="Porcentagem de Lucro">
    </div>
    <div class="col-md-12">
      <label class="form-label">Imagem:</label>
      <input type="file" class="form-control" (change)="onFile($event)" formControlName="image">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Cadastrar Imóvel</button>
    </div>
  </form>
</div>
